<div class = "div_two">
	<p class="footer"><%= footer %></p>
	<header>
		<h1>Chat</h1>
	  </header>
  
	  <section>
		<div id="change_username">
	  <input id="username" type="text" />
	  <button id="send_username" type="button">Change username</button>
		</div>
	  </section>
  
	  <section id="chatroom">
		<section id="feedback"></section>
	  </section>
  
	  
  
	  <section id="input_zone"> 
		<input id="message" class="horizontal-align" type="text" />
		<button id="send_message" class="horizontal-align" type="button">Send</button>
	  </section>
  
	  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	  <script src="chat.js"></script>
  
  	
	</div>